body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
body {
  background: rgb(216, 211, 155);
  font-family: "Roboto";
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
