.job__avatar {
  width: 100px;
  height: 100px;
  background: #83546d91;
  border-radius: 100%;
  margin-right: 26px;
}
.job__item {
  justify-content: space-between;
  background: #e1c83c9c;
  padding: 25px 35px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.job__company {
  font-weight: 400;
  font-size: 12px;
  color: #699b9a;
}
.job__featured {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #323232;
  border-radius: 25px;
  padding: 5px 9px;
  margin-left: 13px;
}
.job__title {
  font-weight: 400;
  font-size: 22px;
  color: #182120;
  margin-top: 7px;
  margin-bottom: 17px;
}
.job__condition {
  font-weight: 400;
  font-size: 12px;
  color: #699b9b;
  margin-right: 22px;
}
.job__link {
  font-weight: 400;
  font-size: 12px;
  color: #699999;
  background: rgb(232, 228, 168);
  border-radius: 5px;
  padding: 4px 5px;
  margin-left: 25px;
}
.job__content{
    margin-top: 84px;
}