@media screen and (max-width: 650px) {
  .job__item {
    flex-wrap: wrap;
    justify-content: center;
  }
  .job__right {
    margin-top: 30px;
  }
}
@media screen and (max-width: 363px) {
  .job__avatar {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .job__left {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 340px){
  
.job__link {
  margin: 0 12px;
}
}